<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title><%- title %> </title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="msapplication-TileColor" content="#206bc4"/>
    <meta name="theme-color" content="#206bc4"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="robots" content="noindex,nofollow,noarchive"/>
    <link rel="icon" href="/img/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon"/>
    <!-- CSS files -->
    <link href="/dist/css/ubumwe.min.css" rel="stylesheet"/>
    <link href="/dist/css/deubumwe.min.css" rel="stylesheet"/>
    <link href="/dist/libs/icofont/icofont.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/main.css">
    <!-- <link rel="stylesheet" href="/dist/css/form-elements.css"> -->
    
  </head>

  
<body background="/img/services/features-2.svg" >

    <header class="navbar navbar-expand-md sticky navbar-light">
      <div class="container-xl">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="." class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3">
          <img src="/img/favicon.png" alt="Ubumwe" class="navbar-brand-image"> 
          <span> &nbsp; UTickets</span>
        </a>
        <div class="navbar-nav flex-row order-md-last">
          <div class="nav-item dropdown d-none d-md-flex mr-3">
            <div class="container clearfix">
              <div class="contact-info float-left">
                Call us now!! 
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><path d="M4 4h5l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v5a1 1 0 0 1 -1 1a16 16 0 0 1 -16 -16a1 1 0 0 1 1 -1"></path></svg>
                +250 786 141 563
              </div>
            </div>
          </div>
          <div class="nav-item  d-none d-md-flex " data-toggle="dropdown" tabindex="-1">
            <a href="#" class="nav-link px-0" data-toggle="tooltip" data-placement="left" title="@ubumwetech">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon icon-md" fill="currentColor"><path d="M23.954 4.569a10 10 0 0 1-2.825.775 4.958 4.958 0 0 0 2.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 0 0-8.384 4.482C7.691 8.094 4.066 6.13 1.64 3.161a4.822 4.822 0 0 0-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 0 1-2.228-.616v.061a4.923 4.923 0 0 0 3.946 4.827 4.996 4.996 0 0 1-2.212.085 4.937 4.937 0 0 0 4.604 3.417 9.868 9.868 0 0 1-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 0 0 7.557 2.209c9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63a9.936 9.936 0 0 0 2.46-2.548l-.047-.02z"></path></svg>            </a>
          </div>
          <div class="nav-item d-none d-md-flex" data-toggle="dropdown" tabindex="-1">
            <a href="#" class="nav-link px-0" data-toggle="tooltip" data-placement="left" title="+250786141563">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon icon-md" fill="currentColor"><path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"></path></svg>
            </a>
          </div>
          <div class="nav-item d-none d-md-flex" data-toggle="dropdown" tabindex="-1">
            <a href="#" class="nav-link px-0" data-toggle="tooltip" data-placement="left" title="@ubumwetech">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><rect x="3" y="5" width="18" height="14" rx="2"></rect><polyline points="3 7 12 13 21 7"></polyline></svg>
            </a>
          </div>
          <div class="nav-item d-none d-md-flex" data-toggle="dropdown" tabindex="-1">
            <a href="#" class="nav-link px-0" data-toggle="tooltip" data-placement="left" title="@ubumwetech">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon icon-md" fill="currentColor"><path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913a5.885 5.885 0 0 0 1.384 2.126A5.868 5.868 0 0 0 4.14 23.37c.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558a5.898 5.898 0 0 0 2.126-1.384 5.86 5.86 0 0 0 1.384-2.126c.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913a5.89 5.89 0 0 0-1.384-2.126A5.847 5.847 0 0 0 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227a3.81 3.81 0 0 1-.899 1.382 3.744 3.744 0 0 1-1.38.896c-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421a3.716 3.716 0 0 1-1.379-.899 3.644 3.644 0 0 1-.9-1.38c-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678a6.162 6.162 0 1 0 0 12.324 6.162 6.162 0 1 0 0-12.324zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405a1.441 1.441 0 0 1-2.88 0 1.44 1.44 0 0 1 2.88 0z"></path></svg>
            </a>
          </div>
          <div class="nav-item d-none d-md-flex" data-toggle="dropdown" tabindex="-1">
            <a href="#" data-toggle="tooltip" data-placement="left" title="@ubumwetech" class="nav-link px-0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-md" fill="currentColor"><path d="M23.495 6.205a3.007 3.007 0 0 0-2.088-2.088c-1.87-.501-9.396-.501-9.396-.501s-7.507-.01-9.396.501A3.007 3.007 0 0 0 .527 6.205a31.247 31.247 0 0 0-.522 5.805 31.247 31.247 0 0 0 .522 5.783 3.007 3.007 0 0 0 2.088 2.088c1.868.502 9.396.502 9.396.502s7.506 0 9.396-.502a3.007 3.007 0 0 0 2.088-2.088 31.247 31.247 0 0 0 .5-5.783 31.247 31.247 0 0 0-.5-5.805zM9.609 15.601V8.408l6.264 3.602z"></path></svg>
            </a>
          </div>
          <div class="nav-item d-none d-md-flex" data-toggle="dropdown" tabindex="-1">
            <a href="#" class="nav-link px-0" data-toggle="tooltip" data-placement="left" title="+250786141563">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon icon-md" fill="currentColor"><path d="M17.498 14.382c-.301-.15-1.767-.867-2.04-.966-.273-.101-.473-.15-.673.15-.197.295-.771.964-.944 1.162-.175.195-.349.21-.646.075-.3-.15-1.263-.465-2.403-1.485-.888-.795-1.484-1.77-1.66-2.07-.174-.3-.019-.465.13-.615.136-.135.301-.345.451-.523.146-.181.194-.301.297-.496.1-.21.049-.375-.025-.524-.075-.15-.672-1.62-.922-2.206-.24-.584-.487-.51-.672-.51-.172-.015-.371-.015-.571-.015-.2 0-.523.074-.797.359-.273.3-1.045 1.02-1.045 2.475s1.07 2.865 1.219 3.075c.149.195 2.105 3.195 5.1 4.485.714.3 1.27.48 1.704.629.714.227 1.365.195 1.88.121.574-.091 1.767-.721 2.016-1.426.255-.705.255-1.29.18-1.425-.074-.135-.27-.21-.57-.345m-5.446 7.443h-.016c-1.77 0-3.524-.48-5.055-1.38l-.36-.214-3.75.975 1.005-3.645-.239-.375a9.869 9.869 0 0 1-1.516-5.26c0-5.445 4.455-9.885 9.942-9.885a9.865 9.865 0 0 1 7.021 2.91 9.788 9.788 0 0 1 2.909 6.99c-.004 5.444-4.46 9.885-9.935 9.885M20.52 3.449C18.24 1.245 15.24 0 12.045 0 5.463 0 .104 5.334.101 11.893c0 2.096.549 4.14 1.595 5.945L0 24l6.335-1.652a12.062 12.062 0 0 0 5.71 1.447h.006c6.585 0 11.946-5.336 11.949-11.896 0-3.176-1.24-6.165-3.495-8.411"></path></svg>
            </a>
          </div>
        </div>
      </div>
    </header>
  
  
  <!-- =========================================================================================== -->
  <div class="navbar-expand-md sticky-top" >
    <div class="collapse navbar-collapse"  id="navbar-menu">
      <div class="navbar navbar-light">
        <div class="container-xl">
          <ul class="navbar-nav">
            <li <% if (page_name === 'Ubumwe | Home') { %> class='nav-item active' <%} %> class="nav-item" >
              <a class="nav-link btn btn-md btn-ghost-primary" href="/" >
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="5 12 3 12 12 3 21 12 19 12"></polyline><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg>
                </span>
                <span class="nav-link-title">
                  Home
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link  btn btn-md btn-ghost-primary" href="#services">
                <!-- <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <i class="icofont-holding-hands icon"></i>
                </span> -->
                <span class="nav-link-title">
                  Services
                </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link btn btn-md btn-ghost-primary" href="#about" >
                <span class="nav-link-title">
                  <!-- <i class="icofont-group icon"></i> -->
                  About us
                </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link btn btn-md btn-ghost-primary" href="#faq" >
                <span class="nav-link-title">
                  <!-- <i class="icofont-support-faq icon"></i> -->
                  FAQ
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-md btn-ghost-primary" href="#contact" >
                <span class="nav-link-title">
                  <!-- <i class="icofont-ui-contact-list icon"></i> -->
                  Contact Us
                </span>
              </a>
            </li>
          </ul>
          <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
              <div class="input-icon">
                <a <% if (page_name === 'Ubumwe | Login') { %> class='nav-item btn btn-sm btn-ghost-primary active' <%} %> class="nav-item btn-sm btn btn-ghost-primary" href="/login">
                  <span class="nav-link-title ">
                   <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path><path d="M20 12h-13l3 -3m0 6l-3 -3"></path></svg> 
                    Login</strong> 
                  </span>
                </a>
                &nbsp;|&nbsp;
                <a <% if (page_name === 'Ubumwe | Register') { %> class='nav-item btn btn-sm btn-ghost-primary active' <%} %> class="nav-item btn-sm btn btn-ghost-primary" href="/register" >
                  <span class="nav-link-title">
                    <strong>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><circle cx="12" cy="7" r="4"></circle><path d="M5.5 21v-2a4 4 0 0 1 4 -4h5a4 4 0 0 1 4 4v2"></path></svg>
                    Register
                  </strong>
                  </span>
                </a>
              </div>
          </div> 
        </div>
      </div>
    </div>
  </div>




  <%- body %>




<!-- ======= Footer ======= -->
  <footer id="footer" class="bg-light pt-3">
    <div class="footer-top ">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>UBUMWE Tech Company</h3>
            <p>
              Kicukiro<br>
              Kigali, Rwanda<br><br>
              <strong>Phone:</strong> +250 786 141 563<br>
              <strong>Email:</strong> benshyaka99.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
              <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
              <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
              <a href="#" class="google-plus"><i class="icofont-whatsapp"></i></a>
              <a href="#" class="linkedin"><i class="icofont-brand-youtube"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="icofont-rocket"></i> <a href="/">Home</a></li>
              <li><i class="icofont-rocket"></i> <a href="/">Services</a></li>
              <li><i class="icofont-rocket"></i> <a href="/">About us</a></li>
              <li><i class="icofont-rocket"></i> <a href="/">Faq</a></li>
              <li><i class="icofont-rocket"></i> <a href="/">Contact us</a></li>
              <li><i class="icofont-rocket"></i> <a href="/">Terms of services</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="icofont-giraffe"></i> <a href="../services/tickets">Event Tickets management</a></li>
              <li><i class="icofont-giraffe"></i> <a href="#">Event check-in</a></li>
              <li><i class="icofont-giraffe"></i> <a href="#">Web Design</a></li>
              <li><i class="icofont-giraffe"></i> <a href="#">Graphic Design</a></li>
              <li><i class="icofont-giraffe"></i> <a href="#">Student card making</a></li>
              <li><i class="icofont-giraffe"></i> <a href="#">Badge card making</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our Newsletter to get latest news and exclusive deals straight to your inbox</p>
            
              <form class="need-validation" novalidate>
                <div class="col-12">
                  <div class="input-group">
                    <div class="input-icon">
                      <span class="input-icon-addon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><rect x="3" y="5" width="18" height="14" rx="2"></rect><polyline points="3 7 12 13 21 7"></polyline></svg>
                      </span>
                      <input type="text" name="email" class="form-control" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                      <div class="invalid-feedback">Please add a email</div>
                    </div>
                    <button class="btn btn-primary btn-square" type="submit">Subscribe</button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
<hr>
    <div class="container pb-4">
      <div class="credits">
        Designed by <a href="#"><strong>UBUMWE Tech Company</strong> </a>
      </div>
      
    </div>
  </footer>

  <% if(typeof message !== 'undefined' && message && message.length > 0) { %>
    <div class="alert" role="alert">
      <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" data-toggle="toast">
        <% if (message[1] == 'Info') { %>
         <div class="toast-header text-white bg-info">
          <i class="icofont icofont-info-circle icofont-2x"></i>
          &nbsp;<strong class="mr-auto"><%= message[1] %></strong>
            <a href="#" class="close text-white float-right" data-dismiss="alert" aria-label="close"><strong>&times;</strong> </a>
        </div>
        <% } %>
        <% if (message[1] == 'Success') { %>
          <div class="toast-header text-white bg-success">
           <i class="icofont icofont-check-circled icofont-2x"></i>
           &nbsp;<strong class="mr-auto"><%= message[1] %></strong>
             <a href="#" class="close text-white float-right" data-dismiss="alert" aria-label="close"><strong>&times;</strong> </a>
         </div>
         <% } %>
         <% if (message[1] == 'Warning') { %>
          <div class="toast-header text-white bg-warning">
           <i class="icofont icofont-exclamation-tringle icofont-2x"></i>
           &nbsp;<strong class="mr-auto"><%= message[1] %></strong>
             <a href="#" class="close text-white float-right" data-dismiss="alert" aria-label="close"><strong>&times;</strong> </a>
         </div>
         <% } %>
         <% if (message[1] == 'Danger') { %>
          <div class="toast-header text-white bg-danger">
           <i class="icofont icofont-ban icofont-2x"></i>
           &nbsp;<strong class="mr-auto">Error occur</strong>
             <a href="#" class="close text-white float-right" data-dismiss="alert" aria-label="close"><strong>&times;</strong> </a>
         </div>
         <% } %>
        
        <div class="toast-body">
          <%= message[0] %>
        </div>
      </div>
    </div>
  <% } %>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  
  <script src="/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/dist/libs/jquery/dist/jquery.slim.min.js"></script>
  <script src="/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/dist/libs/jqvmap/dist/jquery.vmap.min.js"></script>
  <script src="/dist/libs/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/dist/libs/peity/jquery.peity.min.js"></script>
  <!-- Tabler Core -->
  <script src="/dist/js/tabler.min.js"></script>
</body>

</html>